@page
@model IndexModel

@using CrucibleBugTracker.Services.Interfaces
@using CrucibleBugTracker.Enums
@inject IBTFileService _FileService
@inject UserManager<BTUser> UserManager

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    BTUser? user = await UserManager.FindByIdAsync(UserManager.GetUserId(User)!);
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
     aria-labelledby="v-pills-home-tab">
    <form class="card" id="profile-form" enctype="multipart/form-data" method="post">

        <div class="card-body">
            <h6 class="card-title">Your Profile</h6>
            <div class="row flex-column flex-sm-row mb-3">
                <div class="col-12 col-sm-3 d-flex justify-content-center pt-2">
                    <figure class="avatar avatar-xl text-sm-left">
                        <img id="userImage" src="@_FileService.ConvertByteArrayToFile(Model.Input.ImageData,Model.Input.ImageType, DefaultImage.BTUserImage)"
                             class="rounded-circle"
                             alt="avatar">
                    </figure>
                </div>
                <div class="col-12 col-sm-9 ps-sm-3">
                    <p>@user?.FullName</p>
                    <div class="mb-2">
                        <input type="file" asp-for="Input.ImageFile" class="form-control" id="customFile" accept=".png,.jpg,.jpeg,.gif,.tif"
                               onchange="document.getElementById('userImage').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="Input.ImageFile" class="text-danger"></span>                        
                    </div>
                    <button class="btn btn-primary" type="submit" name="Input.RemoveImage" value="true">Remove Profile Picture</button>
                    <p class="small text-muted mt-3">
                        For best results, use an image at least
                        256px by 256px in either .jpg or .png format
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function removePicture() {
            document.getElementById('customFile').value = null;
            document.getElementById('userImage').src = null;
        }
    </script>
}
