@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}


@* ***************************** *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gogi - Admin and Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
</head>
<body class="form-membership">

    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->

    <div class="form-wrapper">

        <!-- logo -->
        <div id="logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="../../assets/media/image/dark-logo.png" alt="image">
            </a>
        </div>
        <!-- ./ logo -->


        <h5>Sign in</h5>

        <!-- form -->
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" autofocus />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="custom-control custom-checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <a href="recovery-password.html">Reset password</a>
            </div>
            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Sign in</button>
            <hr />
            <section>
                <h4>Or try the bug tracker with one of our demo accounts. </h4>

                <div class="mb-1 text-center">
                    <form class="" id="account" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 btn-block text-center">
                                    <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary btn-block" name="demoEmail" value="DemoAdminEmail">Demo Admin</button>
                                    <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary btn-block" name="demoEmail" value="DemoPMEmail">Demo PM</button>
                                    <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary btn-block" name="demoEmail" value="DemoDevEmail">Demo Developer</button>
                                    <button type="submit" style="width:inherit;height:min-content" class="btn btn-primary btn-block" name="demoEmail" value="DemoSubEmail">Demo Submitter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </section>
            <hr />
            <p class="text-muted">Don't have an account?</p>
            <a asp-page="./Register" class="btn btn-outline-light btn-sm">Register now!</a>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn btn-outline-light btn-sm">Resend confirmation email</a>
        </form>
        <!-- ./ form -->
    </div>

    <!-- Plugin scripts -->
    <script src="~/vendors/bundle.js"></script>

    <!-- App scripts -->
    <script src="~/assets/js/app.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
