html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

select:not(.custom-select) {
    -webkit-appearance: listbox !important;
}

ol:not(.breadcrumb) li {
    list-style-type: circle !important;
}

ol {
    margin-top: 1rem !important;
}

.assignProjectUsers {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

.assignProjectUsersTable {
    max-height: 300px;
    overflow: auto;
}


@media (max-width: 500px) {
    .tinyMargin {
        margin-bottom: 1rem;
    }
}


.manageUsers {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    --bs-gutter-x: 0px !important;
}

#unassignedButton:hover span {
    display: none
}

#unassignedButton:hover:before {
    content: "Assign"
}

@media (max-width: 991px) {
    #searchBar {
        position: absolute;
        left: 0;
        right: 0;
        top: 57px;
        width: 90%;
        margin: auto;
    }
}
